<template [ngIf]="!editModein">
    <ion-row (press)="onPress($event)" [class]={edit:false}>   
        <ion-col>
            <span >{{resource.name}}</span>
        </ion-col>
        <ion-col  *ngFor="let v of getKeys()">
            <fl-val [(ngModel)]="resource.values[v]" [editMode]="false"></fl-val>
        </ion-col>
        <ion-col>
                <fl-val [(ngModel)]="resource.result" [editMode]="false"></fl-val>
        </ion-col>
    </ion-row>
</template>
<template [ngIf]="editModein">
    <form [formGroup]="form" (submit)="onSave($event)">
        <ion-row (press)="onPress($event)" [class]={edit:true}>   
            <ion-col>
                <ion-input  type="text" formControlName="name" [(ngModel)]="resource.name"></ion-input>
            </ion-col>
            <ion-col *ngFor="let v of getKeys(); let i=index">
                <fl-val [(ngModel)]="resource.values[v]"  [editMode]="true" [formControl]="form.controls['Var'+i]" ></fl-val>
            </ion-col>
            <ion-col>
                <span>{{resource.result.input}}</span>
                <!--<fl-val [ngModelOptions]="{standalone: true}"  [(ngModel)]="resource.result" [editMode]="true"></fl-val>-->
            </ion-col>
        </ion-row>
    </form>
</template>