<% provide(:title, "About") %>
<h1>About</h1>


<p>We are new start up company located in the India&#39;s biggest software
	hub chennai. The company is promoted by people, who have vast experience in manufacturing and IT.
</p>
<p>
	Sangam SoftTech is a leading IT solution provider from India that designs, develops,
	integrates and maintains applications that enable companies to solve complex problems.
	We help companies stay competitive by providing software development services. Our
	core competence is lies with our technology insights and ability to understand the
	manufacturing process. we offer a set of specialized services through various engagement
	models. We are determined to grow as a focused and innovative player.
</p>

We have skills in the following area.
<ul>
	<li>Web Development</li>
	<li>Mobile application Development</li>
	<li>Design automation</li>
</ul>
