<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div>
	<p>
		A-32 Narumukhai Flats<br/>
		2nd Street, Brindavan Nagar Ext<br/>
		Adambakkam<br/>
		Chennai<br/>
		Tamil Nadu<br/>
		INDIA<br/>
		PIN - 600088
	</p>
	<table width="300" border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td align="left" valign="top" width="60">
					Phone<br/>
					Mobile<br/>
					E-mail<br/>
					Web
				</td>
				<td class="style10" align="left" valign="top" width="240">
					: <a href="tel:914443557073">+91 4443557073</a><br/>
					: <a href="tel:919444017805">+91 9444017805</a><br/>
					: sales@sangamsoftech.com<br>
					: <a href="http://www.sangamsoftech.com/">www.sangamsoftech.com</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
