<div class="center jumbotron">
	<h1>Welcome to the SangamSoft Technologies</h1>

	<p>Sangam SoftTech is a leading IT solution provider from
		India that designs, develops, integrates and maintains applications that enable
		companies to solve complex problems. We help companies stay competitive by providing
		software development services. Our core competence is lies with our technology insights
		and ability to understand the manufacturing process. we offer a set of specialized
		services through various engagement models. We are determined to grow as a focused
		and innovative player.
	</p>

	<h2>
		Go to our  
		<a href="http://www.testlab.sangamsoftech.com/">TestLab application.</a>
		An unique application for online creation of test document.
	</h2>

</div>

