<div [ngSwitch]="mode">
    <template [ngSwitchCase]="'list'">
        <ion-item>
            <div>
                <span>{{resource.name}}</span><span>(
                <mathq [(ngModel)]="uobj.Latex"></mathq>)
                </span>
            </div>
            <div *ngIf="uobj.IsDefaultUnit">
                <span>Default unit</span>
            </div>
            <div *ngIf="!uobj.IsDefaultUnit">
                <h4>Conversion Formula</h4>
                <div *ngIf=uobj.IsFormulaFactor>
                    <span>x  <mathq [(ngModel)]="uobj.Latex"></mathq> = <mathq [(ngModel)]="uobj.factor"></mathq><mathq [(ngModel)]="resource.Property.DefaultUnit.Latex"></mathq></span>
                </div>
                <div *ngIf=!uobj.IsFormulaFactor>
                    <span>1<mathq [(ngModel)]="uobj.Latex"></mathq> = <span>{{uobj.factor}}</span><mathq [(ngModel)]="resource.Property.DefaultUnit.Latex"></mathq></span>
                </div>
            </div>
            <ion-checkbox *ngIf="showChkbox" (ionChange)="onSelect($event)"></ion-checkbox>
        </ion-item>
    </template>
    <template [ngSwitchCase]="'edit'"> 
        <form [formGroup]="form" (submit)="onSave($event)">
            <ion-list>
                <ion-item>
                    <ion-label>Name</ion-label>
                    <ion-input type="text" formControlName="name" [(ngModel)]="uobj.name"></ion-input>
                </ion-item>
                <fb-error [fcontrol]="form.controls.name"></fb-error>
                <ion-item>
                    <ion-label>Description</ion-label>
                    <ion-input type="text" formControlName="description" [(ngModel)]="uobj.description"></ion-input>
                </ion-item>
                <fb-error [fcontrol]="form.controls.description"></fb-error>
                <ion-item>
                    <ion-label>System</ion-label>
                    <ion-select  [(ngModel)]="uobj.system" [ngModelOptions]="{standalone: true}" required.>
                        <ion-option *ngFor="let p of systems" [value]="p">{{p}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Symbol</ion-label>
                    <ion-input type="text" formControlName="symbol" [(ngModel)]="uobj.Symbol"></ion-input>
                </ion-item>
                <fb-error [fcontrol]="form.controls.symbol"></fb-error>
                <template [ngIf]="!uobj.IsDefaultUnit">
                    <ion-item class="item-input">
                        <ion-label>Factor</ion-label>
                        <mathq  item-right [editable]="true" formControlName="factor" [(ngModel)]="uobj.factor"></mathq>
                    </ion-item>
                    <ion-item input>
                        <ion-label> Approximate</ion-label>
                        <ion-checkbox item-right formControlName="approx" [(ngModel)]="uobj.approx"></ion-checkbox>
                    </ion-item>
                </template>
                
                <ion-item>
                    <button ion-button type="submit"  [disabled]="!form.valid">Save</button>
                </ion-item>
            </ion-list>
        </form>
    </template>
