<form [formGroup]="form" (submit)="onSave($event)">
	<ion-list>
		<ion-item>
			<ion-label>Name</ion-label>
			<ion-input type="text" formControlName="name" [(ngModel)]="resource.name"></ion-input>
		</ion-item>
		<fb-error [fcontrol]="form.controls.name"></fb-error>
		<ion-item>
			<ion-label>Description</ion-label>
			<ion-input type="text" formControlName="description" [(ngModel)]="resource.description"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label>Allias</ion-label>
			<ion-toggle  formControlName="allias" [(ngModel)]="resource.allias"></ion-toggle>
		</ion-item>
		<ion-item *ngIf="resource.allias">
			<ion-label>Allias for</ion-label>
			<ion-select [(ngModel)]="resource.main_id" required>
				<ion-option *ngFor="let u of resource.property.units" [value]="u.id">{{u.name}}</ion-option>
			</ion-select>
		</ion-item>
		<fb-error [fcontrol]="form.controls.description"></fb-error>
		<ion-item>
			<ion-label>System</ion-label>
			<ion-select [(ngModel)]="resource.system" [ngModelOptions]="{standalone: true}" required.>
				<ion-option *ngFor="let p of systems" [value]="p">{{p}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Symbol</ion-label>
			<ion-input type="text" formControlName="symbol" [(ngModel)]="resource.symbol"></ion-input>
		</ion-item>
		<ion-item *ngIf="resource.system == 'SI'">
			<ion-label>Allowed Prefixes</ion-label>
			<ion-select [(ngModel)]="allowed_prefixes"  required.>
				<ion-option  *ngFor="let p of prefixes" [value]="p">{{p.name}}</ion-option>
			</ion-select>
		</ion-item>
		<fb-error [fcontrol]="form.controls.symbol"></fb-error>
		
		<template [ngIf]="!uobj.IsDefaultUnit">
			<ion-item>
				<ion-label>Factor</ion-label>
				<ion-input type="text" formControlName="factor" [(ngModel)]="resource.factor"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Offset</ion-label>
				<ion-input type="text" formControlName="offset" [(ngModel)]="resource.offset"></ion-input>
			</ion-item>
			<ion-item input>
				<ion-label> Approximate</ion-label>
				<ion-checkbox item-right formControlName="approx" [(ngModel)]="resource.approx"></ion-checkbox>
			</ion-item>
		</template>

		<ion-item>
			<button ion-button type="submit" [disabled]="!form.valid">Save</button>
		</ion-item>
	</ion-list>
</form>