<div class="tlab-logout-options tlab-popover tlab-bottom">
  <div class="tlab-popover-interior">
    <div class="tlab-popover-content">
      <div class="user-info">
        <span class="account-name"><%= ( name ) %></span>
        <span class="account-email"><%= ( email ) %></span>
        <a class="tlab-action-editaccount"><%= ( t('Edit Account') ) %></a>
      </div>
      <a class="tlab-action-feedback"><%= ( t('Send Feedback') ) %></a>
      <a class="tlab-action-logout"><%= ( t('Sign Out') ) %></a> 
    </div>
  </div>
  <div class="tlab-arrow"></div>
</div>
