<div class="tlab-add-parameter-dropdown tlab-popover tlab-bottom">
  <div class="tlab-popover-interior">
<%  if (parameters) {  %>
    <div class="tlab-new-item tlab-do-not-blur tlab-action-newparameter">
      <i class="tlab-icon-new-parameter tlab-parameter-icon"></i>
      <%= ( t('parameter') ) %>
    </div>
<%  }  %>
   
<%  if (folders) {  %>
     <div class="tlab-new-item tlab-do-not-blur tlab-action-newfolder">
       <i class="tlab-icon-new-folder tlab-parameter-icon"></i>
       <%= ( t('folder') ) %>
     </div>
<%  }  %>
   </div>
   <span class="tlab-arrow"></span>
</div>
