<% if (renderShell) { %>
<div class="tlab-do-not-blur tlab-parameteritem tlab-parameterfolder tlab-shell">
  <div class="tlab-shell"></div>
</div>
<%  } else { %>
<div class="tlab-do-not-blur tlab-parameterfolder tlab-parameteritem">
  <div class="tlab-fade-container">
    <span class="tlab-main">
      <div class="tlab-caret-container tlab-action-toggle-folder-collapsed tlab-do-not-blur" handleEvent="true">
        <i class="tlab-icon-caret-down" ></i>
      </div>

      <div class="tlab-smart-textarea-placeholder"></div>
    </span>
    <i class="tlab-icon-remove tlab-top-level-delete tlab-action-delete" handleEvent="true"></i>
  </div>
  <span class="tlab-tab tlab-action-drag"
        handleEvent="true"
        tapboundary="true"
        disablescroll="true"
  >
    <span class="tlab-num tlab-variable-index"></span>
    <div class="tlab-tab-interior">
    <span class="tlab-action-toggle-folder-hidden tlab-graph-icon tlab-folder tlab-icon">
      <i class="tlab-icon-hidden"></i>
      <i class="tlab-icon-folder"></i>
    </span>
    </div>
  </span>

  <span class="tlab-param-actions">
    <span
      class="tlab-action-delete tlab-delete-btn tlab-tooltip"
      handleEvent="true"
      tooltip="<%= ( t('Delete') ) %>"
    >
      <i class="tlab-icon-remove"></i></span>
    </span>
  </span>

</div>
<%  } %>
