<div>
  <div class="left-floaters">
    <span class="tlab-header-btn tlab-action-opendrawer tlab-tooltip" tooltip="<%=( t('Open Graph (ctrl+o)') ) %>">
        <i class="tlab-icon-hamburger"></i>
      </span>
    <%  if (maintenance) {  %>
      <span class="title-div">
          <span class="tlab-variable-title tlab-tooltip" tooltip="<%=( t('Testlab is in maintenance mode, you won\'t be able to save changes to this graph. We\'re so sorry for the inconvenience!') ) %>"></span>
      </span>
    <%  } else if (previewMode) {  %>
        <span class="title-div">
        <span class="tlab-variable-title tlab-tooltip" tooltip="<%=( t('Testlab is in preview mode, so you won\'t be able to save graphs.') ) %>"></span>
        </span>
    <%  } else {  %>
          <span class="title-div">
            <span class="tlab-variable-title tlab-tooltip tlab-action-savedialog"
              tooltip="<%=( t('Save As or Rename (ctrl+shift+s)') ) %>">
            </span>
          <%  if (user) {  %>
               <span class="save-btn-container">
          <span class="tlab-action-save save-button">
            <span class="styled-save-btn tooltip-offset disabled-save-btn" original-title="">
              Save
            </span>
            <span class="saving-notice">
              <span class="tlab-spinner-dark"></span>
            </span>
          </span>
        </span>
            
          <%  }  %>
          </span>
    <%  }  %>
  </div>
  <div class="right-floaters">
    <!-- reverse order, because these all float right -->
    <span class="tlab-header-btn tlab-action-language tlab-tooltip" tooltip="<%=( t('Language') ) %>">
        <i class="tlab-icon-world"></i>
    </span>
    <span class="tlab-header-btn tlab-action-help tlab-tooltip" tooltip="<%=( t('Help') ) %>">
        <i class="tlab-icon-question-sign"></i>
    </span>
    <%  if (!maintenance && !previewMode) {  %>
      <%  if (user) {  %>
        <%  if (IS_ANDROID) {  %>
          <span class="tlab-share-btn tlab-action-share tlab-header-btn">
          <i class="ion-andriod-share"></i>
        </span>
          <%  } else {  %>
            <span class="tlab-btn-group">
              <span class="tlab-print-btn tooltip-offset tlab-btn tlab-btn-green tlab-action-print"
                tooltip="<%=( t('Print') ) %>"
              >
                  <i class="tlab-icon-print"></i>
              </span>
            <span class="tlab-share-btn tooltip-offset tlab-btn tlab-btn-green tlab-action-share" tooltip="<%=( t('Share Graph') ) %>">
                  <i class="tlab-icon-share"></i>
              </span>
            </span>
            <%  }  %>
              <span class="tlab-account-link">
        <span class="tlab-edit-acct-success">
          <i class="tlab-icon-check"></i> <%=( t('saved') ) %>
        </span>
              <span class="email">
          <div class="header-account-name">
            <%=( name ) %>
          </div>
          <i class="tlab-icon-caret-down"></i>
        </span>
              </span>
              <%  } else {  %>
                <span class="tlab-login">
      <a class="tlab-create-account tlab-btn tlab-btn-green tlab-action-createaccount"><%=( t('Create Account') ) %></a> <%=( t('or') ) %>
      <a class="tlab-sign-in tlab-action-login"><%=( t('Sign In') ) %></a>
      </span>
                <% } %>
                  <% } %>
  </div>
  <%  if (maintenance || previewMode) {  %>
    <div class="tlab-toast-container">
      <span class="tlab-toast tlab-maintenance-toast">
        <span class="tlab-msg">
          
<%  if (maintenance) {  %>

            <%=( t('Testlab is in Maintenance Mode.') ) %>
          
<%  } else {  %>

            <%=( previewMessage ) %>
          
<%  }  %>

        </span>
      <%  if (maintenance) {  %>
        <a class="undo" target=\ '_blank\' href=\ 'http://desmos.zendesk.com/entries/25429616-What-is-Maintenance-Mode-/'>
          <%=( t('Learn More') ) %>
        </a>
        <%  } else {  %>
          <a class="undo" target=\ '_blank\' href=\ '<%=(previewFeedbackUrl) %>'>
            <%=( t('Share your thoughts!') ) %>
          </a>
          <%  }  %>
            </span>
    </div>
    <%  }  %>
      <div class="tlab-center">
        <a href="/" target=\ '_blank\' class="tlab-home-link-icon" title="tlab-title">
          <i class="tlab-icon-desmos"></i>
        </a>
      </div>
</div>