<div class="tlab-tests">
  <div class="tlab-loading-container tlab-fullscreen-loading-container">
    <div class="tlab-test-loading">
      Loading...
    </div>
    <div class="tlab-test-loading-error">
      <div class="tlab-test-loading-error-title">Error loading test</div>
      <div class="tlab-test-loading-error-subtitle">Check your internet connection</div>
      <div class="tlab-test-loading-error-options">
        <span class="tlab-action-try-again tlab-btn-blue tlab-btn tlab-btn-medium">Try Again</span> or
        <span class="tlab-action-cancel tlab-btn-light-gray tlab-btn tlab-btn-medium">Cancel</span>
      </div>
    </div>
  </div>
  <div class="tlab-resources-container" class="hidden">
    <div class="search-container">
      <input id="search-mytests" type="text" placeholder="<%=( t('search by title...') ) %>" />
      <span class="tlab-icon-search search-icon"></span>
    </div>
    <div class="tlab-scrollable">
      <%  if (maintenance) {  %>
        <div class="maintenance-mode">
          <%=( t("Testlab is temporarily in maintenance mode. You can open example tests, but won't be able to sign in, open your tests, or save any changes. We're so sorry for the inconvenience.") ) %>
        </div>
      <%  } else {  %>
        <%  if (accountsEnabled) {  %>
          <div class="login-reminder">
            <a class="tlab-btn tlab-action-createaccount">
              <%=( t('Create Account') ) %>
            </a>
            <%=( t('or') ) %>
            <a class="tlab-action-login">
              <%=( t('Sign In') ) %>
            </a>
            <div>
              <%=( t('to save and share your tests!') ) %>
            </div>
          </div>
        <%  }  %>
        <div class="new-blank-test tlab-action-newblanktest">
          <div class="new-blank-test-inner">
            <span>+</span>
            <%=( t('New Blank test') ) %>
          </div>
        </div>
        <%  if (accountsEnabled) {  %>
          <div class="template-spinning">
            <img src="assets/spinner.gif" width="16px" height="16px" />
            <%=( t('loading tests...') ) %>
          </div>
        <%  }  %>
    <%  }  %>
    <ul class="template-list">
    </ul>
    <div class="no-matches">
      <%=( t("Sorry, we didn't find any tests with that title.") ) %>
    </div>
    <div class="tlab-mytests-branding">
      <i class="tlab-icon-Testlab"></i>
    </div>
    </div>
    <div class="test-preview">
      <span class="tlab-btn tlab-pull-right tlab-btn-medium tlab-btn-light-gray tlab-action-cancel">
        <%=( t('Cancel') ) %>      </span>
      <h4 class="tlab-title"></h4>
      <div class="screenshot-container">
        <div id="preview-calculator"></div>
        <div class="screenshot-clickjack tlab-action-open-test">
          <span class="tlab-btn tlab-action-open-test tlab-open-test-btn tlab-btn-medium tlab-btn-blue">
            <%=( t('Open test') ) %>          </span>
        </div>
        <div class="tlab-loading-container tlab-inline-loading-container">
          <div class="tlab-test-loading">
            Loading...
          </div>
          <div class="tlab-test-loading-error">
            <div class="tlab-test-loading-error-title">Error loading test</div>
            <div class="tlab-test-loading-error-subtitle">Check your internet connection?</div>
            <div class="tlab-test-loading-error-options">
              <span class="tlab-action-try-again tlab-btn-blue tlab-btn tlab-btn-medium">Try Again</span> or
              <span class="tlab-action-cancel tlab-btn-light-gray tlab-btn tlab-btn-medium">Cancel</span>
            </div>
          </div>
        </div>
      </div>
      <div class="active-arrow">
        <div class="tlab-testic"></div>
      </div>
    </div>
  </div>
  <div id="resources-cover" class="tlab-action-close-resources"></div>
</div>