<div class='tlab-keypad'>
  <div class='tlab-keys-container tlab-retracted'>
    <div class='tlab-keys-background tlab-do-not-blur'>
      <div class='tlab-keys'>

        <div class='tlab-functions-popover tlab-popover tlab-top'>
          <div class='tlab-popover-interior'>
            <div class='tlab-popover-header'>
              <table><tr>
             
<%  _.each(popups.functionsPopup, function(contents, section) {  %>

                <td>
                  <span key="<%= (contents.tab.id) %>" class="tlab-heading tlab-tappable tlab-btn tlab-btn-gray<%= ((section == "trig" ?  " tlab-selected":"")) %>">
                    <%= ( contents.tab.html ) %>
                  </span>
                </td>
             
<%  })  %>

              </tr></table>
            </div>

           
<%  _.each(popups.functionsPopup, function(contents, section) {  %>

              <table class='tlab-interior-buttons' section='<%= (section) %>'>
               
<%  if (section == "trig") {  %>

                  <tr class='tlab-section-headings'>
                    <td>trig</td>
                    <td>inverse</td>
                    <td>hyperb</td>
                  </tr>
               
<%  }  %>

                <tr>

               

<%                 var i = 0; %>
<%                 _.each(contents.funcs, function(func) { %>
                

                  <%= ((i%3 == 0 ? "</tr><tr>" : "")) %>
                 
 <% i++ %>

                  <td>
                    <span
                      class="tlab-option tlab-btn tlab-tappable<%= (func.aClass ? " " + func.aClass : "") %> tlab-<%= (func.id) %>-key"
                      key="<%= (func.id) %>"
                    >
                      <%= ( func.html ) %>
                    </span>
                  </td>
             
<%  })  %>

              </tr></table>
           
<%  })  %>

          </div>
          <div class='tlab-arrow'></div>
        </div>

       
<%  _.each(buttons, function(keypad, keypadID) {  %>

         <div class="tlab-<%= (keypadID) %> tlab-main-keypad-section">
          
<%  _.each(keypad, function(row) {  %>

             <div class="tlab-row">
              
<%  _.each(row['keys'], function(key) {  %>
                <div
                   class="tlab-cell <%= (key.cellClass ? key.cellClass: "") %>"
                >
                  
<%  if (key.html) {  %>

                     <a
                       class="tlab-btn <%= (key.aClass ? key.aClass : "") %> tlab-<%= (key.id) %>-key"
                       key="<%= (key.id) %>"
                     >
                       <%= ( t(key.html) ) %>
                     </a>
                  
<%  }  %>

                 </div>
<%  })  %>

               <div style='clear:both'></div>
             </div>
          
<%  })  %>

         </div>
       
<%  })  %>

        <div style='clear:both'></div>
      </div>

      <div class='tlab-minimize-keypad tlab-tooltip' tooltip="<%= ( t('Hide Keypad').replace(' ', '&nbsp;') ) %>">
        <i class='tlab-icon-keyboard'></i>
        <i class='tlab-icon-caret-down'></i>
      </div>

      <div class='tlab-minimize-keypad tlab-tooltip tlab-inline-minimize-keypad' tooltip="<%= ( t('Hide Keypad').replace(' ', '&nbsp;') ) %>">
        <i class='tlab-icon-remove'></i>
      </div>
    </div>
  </div>

  <div class="tlab-show-keypad tlab-do-not-blur tlab-tooltip" tooltip="<%= ( t('Show Keypad').replace(' ', '&nbsp;') ) %>">
    <i class='tlab-icon-keyboard'></i>
    <i class="tlab-icon-caret-up tlab-do-not-blur"></i>
  </div>
</div>

