<li class="saved-test test-link-container">
  <div class="test-link tlab-action-preview-test">
    <span class="tlab-title"><%= ( displayTitle ) %></span>
    <span class="date tlab-variable-date"><%= ( displayDate )  %></span>
    <span class="actions" handleEvent="true">
      <span class="tlab-action-removetest">
        <i class="tlab-icon-remove"></i>
      </span>
    </span>
  </div>
  <div class="deleted" handleEvent="true"><%= ( t('This test has been deleted.') ) %>
    <a class="tlab-action-cancelremovetest"><%= ( t('Undo') ) %> </a>
  </div>
</li>
