<!-- This is content for formula tab. It allows to save both the formula definition and
     run history
-->
<ion-content>
	<form [formGroup]="form" (submit)="onSave($event)">
		<ion-list>
			<ion-item>
				<ion-label>Name</ion-label>
				<ion-input type="text" formControlName="name" [(ngModel)]="resource.name"></ion-input>
			</ion-item>
			<fb-error [fcontrol]="form.controls.name"></fb-error>

			<ion-item>
				<ion-label>Formula</ion-label>
				<span item-right><mathq [editable]="true" formControlName="symbol" [(ngModel)]="resource.symbol"></mathq> = <mathq [editable]="true" formControlName="formula" [(ngModel)]="resource.formula"></mathq></span>
			</ion-item>
			<fb-error [fcontrol]="form.controls.symbol"></fb-error>
			<ion-item>
				<ion-label>Unit</ion-label>
				<fl-unit-sel item-right formControlName="unit_id" [(ngModel)]="resource.unit_id" [editMode]="true"></fl-unit-sel>
			</ion-item>

			<ion-item-divider light>Variables</ion-item-divider>
			<div>
				<ion-row>
					<ion-col>
						<span>Name</span>
					</ion-col>
					<ion-col>
						<span>Symbol</span>
					</ion-col>
					<ion-col>
						<span>Unit</span>
					</ion-col>
				</ion-row>
				<fl-var *ngFor="let v of resource.variables" [resource]="v" [editMode]="false" (moveToGlobal)="onMoveToGlobal(v, $event)"></fl-var>
			</div>
			<ion-item-divider light>Global Variable</ion-item-divider>
			<div>
				<ion-row>
					<ion-col>
						<span>Name</span>
					</ion-col>
					<ion-col>
						<span>Symbol</span>
					</ion-col>
					<ion-col>
						<span>Value</span>
					</ion-col>
				</ion-row>
				<fl-gvar *ngFor="let gid of resource.global_ids" [resource]="nds.getResource(gid)"
					(moveToVar)="onMoveToVariable(gid, $event)"></fl-gvar>
			</div>
			<ion-item>
				<button ion-button type="submit" [disabled]="!form.valid">Save</button>
			</ion-item>
		</ion-list>
	</form>
</ion-content>