<ion-header>
	<fl-nav-bar [editMode]="editMode" [selectionStatus]="selectionStatus$ | async" [title]="info.title | async" (actionCmd)="onActionCmd($event)" [isSelectionList]="selectMode"
		(filterChange)="onFilterChange($event)"></fl-nav-bar>
</ion-header>
<ion-content>
	<ion-segment [(ngModel)]="viewType">
		<ion-segment-button value="All" (ionSelect)="selectedViewType('All')">
			All
		</ion-segment-button>
		<ion-segment-button value="Favourites" (ionSelect)="selectedViewType('Favourites')">
			Favourites
		</ion-segment-button>
		<ion-segment-button value="Library" (ionSelect)="selectedViewType('Library')">
			Library
		</ion-segment-button>
	</ion-segment>
	<ion-list>
		<ion-item *ngFor="let r of resources$ | async" (press)="onPress($event)" (click)="onClick(r, $event)">
			<ion-label>
				<h2>{{r.name}}</h2>
				<p  *ngIf="type == 'units' && nds.isDefaultUnit(r)">
					DefaultUnit <mathq [latex]="r.symbol" [isUnit]="true"></mathq>  
				</p>
				<p  *ngIf="type == 'units' && !nds.isDefaultUnit(r)">
					<mathq [latex]="r.symbol"  [isUnit]="true"></mathq>  
				</p>
				<p *ngIf="type == 'globals'">
				   <mathq [latex]="r.symbol"></mathq><span>(in </span><mathq [latex]="nds.getResource(r.unit_id)?.symbol"  [isUnit]="true"></mathq><span>)</span>
				</p>
				<p *ngIf="type == 'formulas'">
					<mathq [latex]="r.symbol"></mathq> (in <mathq [latex]="nds.getResource(r.unit_id)?.symbol"  [isUnit]="true"></mathq>)
				</p>
			</ion-label>
			<ion-checkbox *ngIf="editMode" (ionChange)="onCheck(r, $event)"></ion-checkbox>
			<button *ngIf="!editMode && type == 'properties'" royal ion-button item-right (click)="onUnitClick(r, $event)">Units...</button>
			<ion-label>
				<template *ngIf="type == 'units' && !nds.isDefaultUnit(r)">
					<p>Conversion Formula</p>
					<h2 *ngIf="nds.isFormulaFactor(r)">
						<span>
							x  <mathq  [latex]="r.symbol"  [isUnit]="true"></mathq> = <mathq  [latex]="r.factor"></mathq>
							<mathq  [latex]="nds.getDefaultUnit(property)" [isUnit]="true"></mathq>
						</span>
					</h2>
					<h2 *ngIf="!nds.isFormulaFactor(r)">
							1<mathq  [latex]="r.symbol"  [isUnit]="true"></mathq> = {{r.factor}}
							<mathq  [latex]="nds.getDefaultUnit(property)"  [isUnit]="true"></mathq>
					</h2>
				</template>
				<template *ngIf="type == 'globals'">
					<h2>{{r.value}}</h2>
				</template>
				<template *ngIf="type == 'formulas'">
					<mathq [latex]="r.formula"></mathq>
				</template>
			</ion-label>
			<div item-right>
				<span>Your </span><span *ngIf="r.favourite">Favourite</span>
				<span *ngIf="!r.favourite">UnFavourite</span>
			</div>
		</ion-item>
	</ion-list>
</ion-content>