<div id="create-account-dialog" class="modal_section
<%  if (saveNext) {  %>
 save-first
<%  }  %>
">
  <h1>
   
<%  if (saveNext) {  %>

      <%=( t('Create an account to save your work!') ) %>   
<%  } else {  %>

      <%=( t('Create Account') ) %>   
<%  }  %>

  </h1>
 
<%  if (saveNext) {  %>

    <h4 style="margin-bottom: 30px"><%=( t('Already have an account?') ) %> <span class="tlab-action-login-then-save"><%=( t('Sign in') ) %></span></h4>
 
<%  }  %>

  <div class='bg-line'>
    <span><%=( t('Link to Google') ) %></span>
  </div>
    <div class='google-login-btn'>
      <span class='tlab-btn tlab-btn-large tlab-action-googlelogin'>
        <img src='/assets/img/google_32.png\' width='24px\' height='24px\' />
        <%=( t("Link to your Google Account") ) %>      </span>
    </div>
    <div class='bg-line'><span>
      <%=( t("Use your Email Address") ) %>    </span></div>
  
 
<%  _.each(errors, function(error) {  %>

  <div class="errors">
      <span><%=( error.message ) %></span>
  </div>
 
<% }) %>

  
  <form class="tlab-action-submit">
    <label>
      <span><%=( t('Name:') ) %></span>
      <input type="text"
        name="user[name]"
        class="input"
        required="required"
        autofocus="autofocus"
      />
    </label>
  
    <div class="tlab-description">
      <%=( t("This is the name we'll use if we feature one of your graphs.") ) %>    </div>
  
    <label>
      <span><%=( t('Email:') ) %></span>
      <input type="email"
        name="user[email]"
        class="input"
        required="required"
      />
    </label>
  
    <div class="tlab-description">
      <%=( t("We'll never share or sell your email address.") ) %>    </div>
  
    <label>
      <span><%=( t('Password:') ) %></span>
      <input type="password"
        class="input"
        name="user[password]"
        required="required"
      />
    </label>
  
  <label>
      <span><%=( t('Confirm Password:') ) %></span>
      <input type="password"
        class="input"
        name="user[password_confirmation]"
        required="required"
      />
    </label>
  
    <span style="float: left; margin-top: 10px; margin-bottom: 10px">
      <a class="tlab-action-login"><%=( t('Already have an account?') ) %></a>
    </span>
  
   
<%  if (spinning) {  %>

      <div class="progress_indicator progress"></div>
   
<%  } else {  %>

      <button type="submit" class="tlab-btn tlab-action-submit tlab-btn-green" style="float:right; margin-right: 30px"><%=( t('Create Account') ) %></button>
   
<%  }  %>

      
  </form>
  <div class='notice' style="margin-top: 30px">
    <%=( t("By clicking \"__btn__,\" you acknowledge that you've read and accept our __terms_of_use_link__.",
      {
        terms_of_use_link : "<a href='/terms' target='_blank'>" + t("Terms of Use") + "</a>",
        btn: t("Create Account")
      }
    ) ) %>  
  </div>
