<div id="login-dialog" class="modal_section">
  <h1>
    <%=( t('Sign In') ) %>  </h1>
  
  <div class='bg-line'>
    <span><%=( t('Sign In with Google') ) %></span>
  </div>
    <div class='google-login-btn'>
      <span class='tlab-btn tlab-btn-large tlab-action-googlelogin'><img src='/assets/img/google_32.png' width='24px' height='24px' /> <%=( t('Sign In with Your Google Account') ) %></span>
    </div>
    
  <div class='bg-line'>
    <span><%=( t('Sign In with TestLab') ) %></span>
  </div>
  
 
<%  _.each(errors, function(error) {  %>

  <div class="errors">
      <span><%=( error.message ) %></span>
  </div>
 
 <% }) %> 

  
  <form class="tlab-login tlab-action-submit">
    <div class="form_content_interior">
      <label for="email">
        <span><%=( t('Email:') ) %></span>
        <input type="email"
          name="user[email]"
          class="input"
          autofocus="autofocus"
          required="required"
          id="top_email"
        />
      </label>
  
      <label>
        <span><%=( t('Password:') ) %></span>
        <input type="password"
          name="user[password]"
          class="input"
          required="required"
          id="top_password"
        />
      </label>
  
      <span style="float: left; margin-top: 10px; margin-bottom: 10px">
        <a class="tlab-action-recoverpassword"><%=( t('Forgot your password?') ) %></a>
        <div style='height:10px'></div>
        <a class="tlab-action-createaccount"><%=( t("Don't have an account?") ) %></a>
      </span>
  
      <div style="float:right; margin-right: 30px">
       
<%  if (spinning) {  %>

          <div class="progress_indicator progress"></div>
       
<%  } else {  %>
          <button type="submit" class="tlab-btn  tlab-btn-green"><%=( t('Sign In') ) %></button> 
<%  }  %>

      </div>
  
    </div>
  </form>
</div>
