<div id="recover-password-dialog" class="modal_section">
  <h1><%=( t('Recover Password') ) %></h1>
  
 
<%  _.each(errors, function(error) {  %>

  <div class="errors">
      <span><%=( error.message ) %></span>
  </div>
 
<%  })  %>

  
 
<%  if (sentMessage) {  %>

    <p><%=( t("Message sent. Please check your email for a password recovery link.") + " (<a href='#' class='tlab-action-tryagain'>" + t("Didn't work? Try again!") + '</a>)' ) %></p>
 
<%  } else {  %>

  
    <form class="tlab-action-submit">
      <p><%=( t('Please enter your email address. We will send a password recovery link to you.') ) %></p>
  
      <label>
        <span><%=( t('Email:') ) %></span>
        <input type="email"
        name="email"
        class="input"
        id="recover_email"
        required="required"
        autofocus="autofocus"
        />
      </label>

      <br />

     
<%  if (spinning) {  %>

        <div class="progress_indicator progress"></div>
     
<%  } else {  %>

        <button type="submit" class="tlab-btn tlab-btn-green" style="float: right; margin-right: 30px"><%=( t('Recover Password') ) %></button>
     
<%  }  %>


    </form>
    <br />
 
<%  }  %>

  <p class="tlab-remembered-password"><%=( t('Remembered your password?') ) %> 
    <a class="tlab-action-login"><%=( t('Sign In') ) %></a>
  </p>
</div>';