<div id="unsupported-browser" class="modal_section">
  <div style="color:black; font-size:150%;">
  <%= ( t('Unsupported Browser') ) %>
  </div>
  <div style="padding:20px 0px; color:#666">
      <%= ( t('Testlab works best on your version of Android if you use the Chrome Browser.') ) %>      <br><br>
      <a href="https://play.google.com/store/apps/details?id=com.android.chrome">
        <%= ( t('Click here to download Google Chrome.') ) %><br><br>
      </a>

          <div style="text-align: center; margin-top: 25px; margin-bottom:-16px">
              <a class="tlab-btn tlab-action-hide tlab-do-not-blur"><%= ( t('Hide this warning.') ) %></a>
          </div>
  </div>
</div>