<form [formGroup]="form" (submit)="onSave($event)">
    <ion-row (click)="dblclick($event)">
        <!--Name-->
        <ion-col *ngIf="!editMode">
            <span>{{resource.name}}</span>
        </ion-col>
        <ion-col *ngIf="editMode">
            <ion-input type="text" formControlName="name" [(ngModel)]="resource.name"></ion-input>
        </ion-col>
        <!--Symbol-->
        <ion-col *ngIf="!editMode">
            <mathq [latex]="resource.symbol"></mathq>
        </ion-col>
        <ion-col *ngIf="editMode">
            <mathq  item-right formControlName="symbol" [(ngModel)]="resource.symbol"></mathq>
        </ion-col>
        <!--Unit-->
        <ion-col>
            <fl-unit-sel formControlName="unit_id" [(ngModel)]="resource.unit_id" [editMode]="editMode"></fl-unit-sel>
        </ion-col>
    </ion-row>
</form>
